@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;

  --color-poke-yellow: #ECA539;
  --color-poke-red-dark: #C00E20;
  --color-poke-red: #F22539;

  --color-poke-gray-900: #353535;
  --color-poke-gray-700: #5E5E5E;
  --color-poke-gray-400: #BFBFBF;

  --color-poke-gray-200: #E8E8E8;
  --color-poke-gray-100: #F5F5F5;
  --color-poke-white: #F9F9F9;
}

body {
  font-family: var(--font-lato);
  background-color: var(--color-poke-white);

  /* Tailwind directive */
  /* @apply font-lato */
}